.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modal-content {
  background: white;
  border-radius: 16px;
  padding: 3rem;
  width: 100%;
  max-width: 600px;
  position: relative;
}

.dropzone {
  width: 95%;
  height: 250px;
  border-radius: 16px;
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1.4px dashed #7fa0e8;
  box-shadow: 5px 5px 5px #7fa0e8;
  margin-left: 0.5rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1a1a1a;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 0.875rem;
  color: #666;
  margin-bottom: 1.5rem;
}

.button {
  background-color: #0066ff;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #0052cc;
}

.fileName {
  margin-top: 1rem;
  font-size: 0.875rem;
  color: #666;
  text-align: center;
}

.upload-button {
  width: 100%;
  margin-top: 1rem;
  padding: 0.75rem;
  background-color: #0066ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.upload-button:hover {
  background-color: #0052cc;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 15;
  border-radius: 16px;
 
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1rem;
  color: #655d5d;
  cursor: pointer;
  padding: 0.5rem;
  line-height: 1;
}

.close-button:hover {
  color: #5d5959;
}